<div class="container">

    <div class="row">

      <div class="col-lg-3">

        <h1 class="my-4">Bu Bu Online</h1>
        <div class="list-group">
          <li class="list-group-item"><%= link_to "Food", products_path(:category_id => "1")%></li>

          <li class="list-group-item"><%= link_to "Drink", products_path(:category_id => "2")%></li>
        </div>

      </div>
      <!-- /.col-lg-3 -->
      <div class="col-lg-9">
       <div class="row">
          <%= render @products%>
        </div>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

</div>
