@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets.css';
@import 'font-awesome.css';
.navbar-inverse {
    background-color: #497096
}

/* chèn code khác ở đây */

h1 {
  text-align: center;
}


/* Admin */
  .btt{
    height: 60px;
    width : 15%;
    margin: 2.3% 2.3% 2.3% 2.3%;
  }

  .pending_status {
   color: #FFCC00;
  }
  .accepted_status {
   color: green;
  }
  .rejected_status {
   color: red;
  }
/*button submit*/
  .btn.btn-primary
  {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    width:  100%;
  }
  .image img{
    width: 200px;
    height: 200px;
  }


