@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets.css';
@import 'font-awesome.css';
.navbar-inverse {
    background-color: #497096
}

/* chèn code khác ở đây */


/* Admin */
  .pending_status {
   color: #FFCC00;
  }
  .accepted_status {
   color: green;
  }
  .rejected_status {
   color: red;
  }



