<h1>Admin</h1>
<form method="get" action="/admin/users">
    <button type="submit">User Manager</button>
</form>
<form method="get" action="/admin/categories">
    <button type="submit">Categories Manager</button>
</form>
<form method="get" action="/admin/products">
    <button type="submit">Products Manager</button>
</form>
<form method="get" action="/admin/suggests">
    <button type="submit">Suggest Manager</button>
</form>