<h1>Admin</h1>
<form method="get" action="/admin/users">
    <button type="submit" , class="btt">User Manager</button>
</form>
<form method="get" action="/admin/categories">
    <button type="submit" , class="btt">Categories Manager</button>
</form>
<form method="get" action="/admin/products">
    <button type="submit" , class="btt">Products Manager</button>
</form>
<form method="get" action="/admin/orders">
    <button type="submit" , class="btt">Orders Manager</button>
</form>
<form method="get" action="/admin/suggests">
    <button type="submit" , class="btt">Suggest Manager</button>
</form>